body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #9c9cbb;
}

.container {
    text-align: center;
    background-color: #323274;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(252, 252, 252, 0.1);
}

.guess-input {
    margin-top: 15px;
}

label {
    display: block;
    margin-bottom: 20px;
}

button {
    margin-top: 0px;
    padding: 13px 15px;
    background-color: #323274;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #545207;
}